<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit Hotel Title</title>
  <link rel="stylesheet" href="">
</head>
<body>

  <form class="edit" action="/hotels/favorites/<%= hotel._id %>?_method=PUT" method="POST">
    <input type="text" name='hotel[property_name]' value="<%= hotel.property_name %>">
    <input type="submit" value="Update">
  </form>
  <h2>Book Direct: <%= hotel.phone %></h2>
</body>
</html>
