<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit Hotel Title</title>
  <link rel="stylesheet" href="">
</head>
<body>

  <h2>Hotel Name: <%= hotel[i].property_name %></h2>
  <h2>Address: <%= hotel[i].address.line1 %></h2>
  <form class="edit" action="/<%= hotel._id %>?_method=PUT" method="POST">
    <input type="text" name='hotel[property_name]' value="<%= hotel.Title %>">
    <input type="submit" value="Update">
  </form>

</body>
</html>
