<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hotels Page</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Find Your Airport Hotel Now!</h1>

    <ul class="hotels">
      <%# for (let i = 0; i < hotels.length; i++) { %>
      <li class = 'hotel-item'>
        <h4>Airport Hotel Location: <%# hotels[0].property_name %></h4>
        <h4>Check_in: <%# hotels[i].check_in %></h4>
        <h4>Check_out: <%# hotels[i].check_out %></h4>
      </li>
      <%# }; %>
    </ul>
  <a href="/">Search Again</a>



</body>
</html>
