<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hotels Page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Find Your Airport Hotel Now!</h1>

  <% for (let i = 0; i < hotels.length; i++) { %>
    <ul class="hotels">
        <li>Hotel Name: <%= hotels[i].property_name %></li>
        <li>Address: <%= hotels[i].address.line1 %></li>
        <li>Your Rate per : $<%= hotels[i].rooms[0].rates[0].price %> USD</li>
      </li>
    </ul>
  <% }; %>

  <a href="/">Search Again</a>
</body>
</html>
