<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hotel Now Homepage</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Hotel Now Homepage</h1>

  <div class="container">
    <form action="/hotels" method="GET">

      <div class="title">
        <h2>Airport Hotel Location</h2>
        <input type="text" name="location" placeholder="Enter Airport IATA">
      </div>
      <div class="title">
        <h2>Check-in</h2>
        <input type="text" name="check_in" placeholder="Enter Check-in Date [2016-11-20]">
      </div>

      <div class="title">
        <h2>Check-out</h2>
        <input type="text" name="check_out" placeholder="Enter Check-out Date [2016-11-22]">
      </div>

      <input type="submit" value="Search!">
    </form>
  </div>

</body>
</html>
