<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hotel Now - Sign Up</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">
</head>
<body>

  <div class= "container index_background">
    <div class= "box signup">
    <h1>Hotel Now</h1>
    <h3>Sign Up</h3><br>
      <form class="" action="/users" method="post">
          <input type="text" name="user[username]" value="" placeholder="Username">
          <input type="password" name="user[password]" value="" placeholder="Password">
          <input type="submit" value="Sign up">
      </form>
    </div>
  </div>
</body>
</html>
