<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hotel Now - Profile</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">
</head>
<body>

<div id="main-container" class="profile-background">
  <div id="mainleft">
    <h1>Hotel Now</h1>
  </div>
  <div id="maincenter">
    <h2>Welcome, <%= user.username %>!</h2>
  </div>
  <!--   <a href="/main">Hotel Search</a> -->
  <div id="mainright" class="logout">
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>
  </div>
</div>

<div id="marketing">
  <h1>Hotels That Feel Like Home.</h1>
  <h2>Don’t Wait Until Tomorrow, Travel Today.</h2>
</div>

  <div class="container-box">
    <form action="/hotels" method="GET">
        <h2>Airport Hotel Location</h2>
        <input type="text" name="location" placeholder="Enter Airport IATA">
        <p id="myBtn">Click Here for IATA Codes</p>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">Close</span>
                <h3>City/State  - IATA Airport Codes</h3>
                  <p> Atlanta - Hartsfield Jackson Atlanta International  &#8594  ATL <br>
                      Austin  - Austin Bergstrom International  &#8594  AUS <br>
                      Baltimore - Baltimore/Washington International Thurgood Marshall  &#8594  BWI <br>
                      Boston  - General Edward Lawrence Logan International &#8594  BOS <br>
                      Charlotte - Charlotte Douglas International &#8594  CLT <br>
                      Chicago - Chicago O’Hare International  &#8594  ORD <br>
                      Chicago - Chicago Midway International  &#8594  MDW <br>
                      Cleveland - Cleveland Hopkins International &#8594  CLE <br>
                      Dallas-Fort Worth - Dallas Fort Worth International &#8594  DFW <br>
                      Denver  - Denver International  &#8594  DEN <br>
                      Detroit - Detroit Metropolitan Wayne County &#8594  DTW <br>
                      Fort Lauderdale - Fort Lauderdale Hollywood International &#8594  FLL <br>
                      Honolulu  - Honolulu International  &#8594  HNL <br>
                      Houston - George Bush Intercontinental Houston  &#8594  IAH <br>
                      Houston - William P Hobby &#8594  HOU <br>
                      Kansas City - Kansas City International &#8594  MCI <br>
                      Las Vegas - McCarran International  &#8594  LAS <br>
                      Los Angeles - Los Angeles International &#8594  LAX <br>
                      Miami - Miami International &#8594  MIA <br>
                      Minneapolis - Minneapolis-St Paul International/Wold-Chamberlain  &#8594  MSP <br>
                      Nashville - Nashville International &#8594  BNA <br>
                      New York  - John F Kennedy International  &#8594  JFK <br>
                      New York  - La Guardia  &#8594  LGA <br>
                      Newark  - Newark Liberty International  &#8594  EWR <br>
                      Oakland - Metropolitan Oakland International  &#8594  OAK <br>
                      Orlando - Orlando International &#8594  MCO <br>
                      Philadelphia  - Philadelphia International  &#8594  PHL <br>
                      Phoenix - Phoenix Sky Harbor International  &#8594  PHX <br>
                      Portland  - Portland International  &#8594  PDX <br>
                      Raleigh/Durham  - Raleigh Durham International  &#8594  RDU <br>
                      Sacramento  - Sacramento International  &#8594  SMF <br>
                      Salt Lake City  - Salt Lake City International  &#8594  SLC <br>
                      San Diego - San Diego International &#8594  SAN <br>
                      San Francisco - San Francisco International &#8594  SFO <br>
                      Santa Ana - John Wayne-Orange County  &#8594  SNA <br>
                      Seattle - Seattle Tacoma International  &#8594  SEA <br>
                      St Louis  - Lambert St Louis International  &#8594  STL <br>
                      Tampa - Tampa International &#8594  TPA <br>
                      Washington  - Washington Dulles International &#8594  IAD <br>
                      Washington  - Ronald Reagan Washington National &#8594  DCA <br>
                      <br><br><br>
                  </p>
                </div>
              </div>

        <h3>Check-in & Check-out</h3>
        <input type="date" name="check_in" placeholder="i.e mm/dd/yyyy">
        <input type="date" name="check_out" placeholder="i.e mm/dd/yyyy"><br>
        <input type="submit" value="Search!">
      </form>
  </div>


  <script src="http://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="/scripts.js" type="text/javascript"></script>
</body>
</html>
